.about-seller {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    padding-bottom: 25px;
    font-family: macan-bold, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: $clr2;
}

.profile-card {
    margin-bottom: 64px;

    .seller-card {
        padding-bottom: 24px;

        .mini-user {
            align-items: stretch;
            justify-content: flex-start;
            gap: 16px;

            .seller-img {
                width: 96px;
                height: 96px;
                font-size: 1.92em;
                position: relative;

                .user-img {
                    border-radius: 50%;
                    display: block;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                }

                span {
                    background-image: url(https://fiverr-res.cloudinary.com/npm-assets/layout-server/badges_english.cf7a2dc.svg);
                    background-size: 400%;
                    border-radius: 50%;
                    bottom: 0;
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    z-index: 7;
                    height: 40px;
                    width: 40px;
                }
            }

            .seller-info {
                align-items: flex-start;
                gap: 8px;

                .seller-name {
                    align-items: baseline;
                    // gap: 12px;
                    cursor: pointer;

                    .username {
                        color: $clr2;
                        font-family: macan-bold, Helvetica Neue, Helvetica, Arial, sans-serif;
                        font-size: 18px;
                        line-height: 26px;
                        margin-right: 8px;
                    }

                    .store {
                        margin-right: 8px;
                        color: #74767e;
                    }
                }

                p {
                    font-family: macan-regular, Helvetica Neue, Helvetica, Arial, sans-serif;
                    margin: 0;
                    color: $clr9;
                }

                .seller-rate {
                    font-size: 16px;
                    line-height: 24px;

                    .star {
                        margin: 0;
                        fill: $clr2;

                    }

                    .rate-score {
                        color: $clr2;
                        padding-left: 4px;

                    }

                    .review-length {
                        padding-left: 4px;
                        color: #74767e;

                    }
                }

            }
        }

        button {
            font-family: macan-semibold, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: $clr9;
            margin-top: 20px;
            background: none;
            border: 1px solid transparent;
            border-radius: 4px;
            border-color: currentColor;
            cursor: pointer;
            padding: 12px 24px;
            position: relative;
        }

    }

    .stats-desc{
        border: 1px solid #dadbdd;
        border-radius: 3px;
        margin: 0;
        padding: 24px;

        .user-stats{
            flex-flow: row wrap;
            li{
                padding-bottom: 16px;
                color: #74767e;
                width: 50%;
                strong{
                    font-family: macan-bold, Helvetica Neue, Helvetica, Arial, sans-serif;
                    color: $clr9;
                    display: block;
                    padding-top: 4px;
                }
            }
        }
        
        .seller-desc{
            border-top: 1px solid #dadbdd;
            line-height: 150%;
            margin: 0;
            padding-top: 15px;
            color: $clr9;
        }
    }
}





// .seller-details{

//     display: flex;
//     align-items: center;

//     .user-img {
//         width: 96px;
//         border-radius: 50%;
//     }
// }