.app-header {
    background-color: transparent; // Use transparent as the default background color
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s, color 0.3s; // Add transition properties

    &.fixed-header {
        position: fixed;
        //   background-color: white;
        color: #62646a; // Change text color to #62646a
        transition: background-color 0.3s, color 0.3s; // Add transition properties for the fixed header
    }

    &.scrolling {
        // This className controls the background color when scrolling starts
        background-color: white;
    }

    .nav,
    select,
    button,
    .btn-join,
    // .btn,
    .option-header,
    li {
        text-decoration: none;
        color: inherit;
        font-family: macan-semibold;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        height: em(80px);

        width: 100%;
        // margin-left: 25px;
        // width: calc(100% + 50px);

        .nav-bar {
            display: flex;
            flex-direction: row;
            // margin-left: 32px;

            .ul {
                display: flex;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;

                


                li {
                    cursor: pointer;
                    line-height: em(24px);
                    list-style: none;
                    display: block;

                    &:not(:nth-child(5)) {
                        padding: 0 24px 0 0;
                    }

                    &:not(:nth-child(5)):hover {
                        color: $clr8;
                    }

                    .toggler-popover {
                        position: relative;
                        display: block;
                        padding-right: 3px;

                        .target-wrap {
                            box-sizing: border-box;

                            .uy3dNJC {
                                background: none;
                                border: none;
                                color: inherit;
                                display: block;
                                font: inherit;
                                margin: 0;
                                padding: 0;
                                position: relative;
                                display: inline-flex;
                                position: relative;
                                color: #74767e;
                                font-size: 16px;
                                font-weight: 600;
                                font-family: macan-semibold;
                                border-radius: 50%;
                                display: inline-flex;
                                position: relative;
                                padding-top: 4px;

                                .fig {
                                    font-size: 32px;
                                    background-color: #A866EC;
                                    align-items: center;
                                    border-radius: 50%;
                                    height: 1em;

                                    justify-content: center;
                                    margin: 0;
                                    min-width: 1em;
                                    overflow: hidden;

                                    .img-user {

                                        height: 100%;
                                        object-fit: cover;
                                        width: 100%;
                                    }


                                }

                                .cCSTnnY {
                                    position: absolute;

                                    z-index: 200;

                                    .G1NyNb1 {

                                        border-width: 2px;
                                        width: 11px;
                                        height: 11px;
                                        border-color: #fff;
                                        border-radius: 50%;
                                        border-style: solid;
                                        background-color: #1dbf73 !important;
                                    }

                                }

                            }

                        }

                        .place-left {
                            display: block;
                            right: 0;
                            margin-top: 33px;
                            position: absolute;
                            top: 50%;
                            z-index: 100;
                            background-color: #fff;
                            border: 1px solid #dadbdd;
                            border-radius: 3px;
                            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
                            position: absolute;
                            z-index: 1001;

                            .tip {
                                left: calc(100% - 16px);
                                border-bottom-color: rgba(0, 0, 0, .25);
                                border-top-width: 0;
                                top: -11px;
                                border-width: 10px;
                                border-color: transparent;
                                border-style: solid;
                                content: "";
                                display: block;
                                height: 0;
                                position: absolute;
                                width: 0;

                                &::after {
                                    border-bottom-color: #fff;
                                    top: 1px;
                                    border-top-width: 0;
                                    transform: translateX(-50%);
                                    border-width: 10px;
                                    border-color: transparent;
                                    border-style: solid;
                                    content: "";
                                    display: block;
                                    height: 0;
                                    position: absolute;
                                    width: 0;


                                }
                            }

                            .nav-popover-items-content {
                                width: auto;
                                box-sizing: border-box;
                                min-width: 180px;
                                padding: 5px 15px;
                                list-style: none;
                                list-style-image: none;
                                margin: 0;
                                outline: 0;
                                border: 0;


                                li {
                                    padding: 5px 0;
                                    white-space: nowrap;
                                    color: #74767e;
                                    text-decoration: none;
                                    white-space: nowrap;
                                    font-weight: 600;
                                    font-size: 16px;
                                    cursor: pointer;




                                    a {
                                        display: block;
                                        font-weight: 600;
                                        font-size: 16px;
                                        color: #74767e;
                                        text-decoration: none;

                                        &:hover {
                                            color: #1dbf73;
                                            transition: color .2s;

                                        }

                                    }

                                    .out {
                                        padding: 0;
                                        font-weight: 600;
                                        font-size: 16px;
                                        border: none;
                                        white-space: nowrap;
                                        background-color: transparent;

                                        &:hover {
                                            color: #1dbf73;
                                            transition: color .2s;

                                        }

                                        &::after {
                                            border-bottom: #74767e;
                                        }
                                    }


                                }
                            }
                        }
                    }

                    .menu {
                        display: block;
                        position: absolute;
                        top: 70px;
                        right: 250px;
                        background: white;
                        border: 1px solid #ccc;
                        padding: 10px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

                        button {
                            display: block;
                            margin: 5px 0;
                            padding: 5px 10px;
                            background: none;
                            color: inherit;
                            border: black;
                            cursor: pointer;

                            &:hover {
                                background: #14a865;
                            }
                        }
                    }


                    .nav {
                        font-family: macan-semibold;
                        font-size: em(16px);
                        font-weight: 600;
                    }
                }

                @media (max-width: 768px) {

                    li {
                        // &:not(:nth-child(4)) {
                            display: none;

                        // }
                    }

                }
                li.user-logged-in{
                    padding-right: 0;
                }


            }
        }

        .option-header {
            display: none;
        }

        .btn-join {
            border: solid 1px white;
            border-radius: 4px;
            height: 36px;
            width: 63px;
            /* Use "px" for specifying the height */
            line-height: 24px;
            /* Use "px" for specifying the line height */
            padding: 7px 16px;
            font-size: em(14px) !important;

            &:hover {
                color: $clr1 !important;
                background-color: $clr8;
                /* Change text color to $clr8 on hover */
            }
        }


        .filter-container {
            position: fixed;
            top: -100%;
            left: 0;
            right: 0;
            background-color: #fff;
            transition: top 0.3s ease-in-out;
            z-index: 1000;

            &active {
                top: 0;
            }

            .filter {
                display: flex;
                flex-direction: column;
            }
        }
    }

    @media (max-width: 768px) {
        .main-nav {
            display: flex;
            background-color: #fff;
            flex-direction: column;
            align-items: flex-start;
            max-width: 360px;
            margin: 0;
            // grid-column: 2;
        }
    }

    option {
        color: #62646a;
    }

    .title-orders {
        color: #62646a;
    }

    .order-txt {
        color: #62646a;
    }

    .img-user {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}
@media (max-width: 768px) {
    .app-header {
        max-width: 360px;
       background-color: #fff;
        // font-size: 24px;
    }
}


.filter-container {
    // display: flex;
    // align-items: center;
    // padding-top: 10px;
    /* Top padding */
    // padding-bottom: 10px;
    /* Bottom padding */
    padding-left: 0;
    /* Left padding set to 0 */
    padding-right: 0;
    /* Right padding set to 0 */
    // height: em(40px);
    font-family: macan-semibold;

    &.scrolling {
        border-bottom: 1px solid #e4e5e7;
    }
}

a.btn {
    text-decoration: none;

    color: inherit;
}

.logo {
    // margin: -25px;
    font-size: 2.3rem;
    font-family: macan-bold, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -4px;

    &::after {
        content: ".";
        font-size: 2.7rem;
        color: #1dbf73;
    }

    &.scrolling {
        color: $clr2;
    }

}

@media (max-width: 768px) {
    .logo {
        margin: 0;
        // font-size: 24px;
    }
}

.green-color {
    color: $clr8 !important;
    border: solid 1px $clr8 !important;
}


.header {
    &.scrolling {
        border-bottom: 1px solid #e4e5e7;
        /* Add the border-bottom property for scrolling */
    }
}

.order-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 1px solid #3b3737;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white !important;

    .order-img-container {
        display: flex;
        align-items: center;

        .order-imgs {
            width: 175px;
            height: 110px;
            object-fit: fill;
            border-radius: 4px;
            margin-right: 20px;

        }
    }

    .order-details {
        display: flex;

        .order-info {
            display: flex;
            flex-direction: column;
            font-family: macan-semibold;
            font-weight: 600;
            color: #62646a;
            text-align: left;
            margin-bottom: 4px;
            ont-size: 16px;
            line-height: 140%;

            .order-info-section {
                display: flex;

                .seller {
                    margin-right: 45px;
                }
            }
        }
    }
}

// @media (max-width: 768px) {
//     .header.scrolling {
//         border-bottom: transparent;

//     }

// }



// }