.app-header {
    background-color: transparent; // Use transparent as the default background color
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s, color 0.3s; // Add transition properties

    &.white-background {
        background-color: white;
        color: black; // Change text color to black
        
    }

    .nav,
    .btn-join,
    .option-header,
    a {
        text-decoration: none;
        color: inherit; // Inherit text color from parent
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1400px;

        .nav {
            padding: 15px;
        }

        .option-header {
            display: none;
        }

        .btn-join {
            border: solid 1px white;
        }

        .filter-container {
            position: fixed;
            top: -100%;
            left: 0;
            right: 0;
            background-color: #fff;
            transition: top 0.3s ease-in-out;
            z-index: 1000;

            &active {
                top: 0;
            }

            .filter {
                display: flex;
                flex-direction: column;
            }
        }
    }

    option {
        color: black;
    }
    .title-orders {
        color: black;
    }
    .order-txt {
        color: black;
    }
    .img-user {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}
