.app-header {
    background-color: transparent; // Use transparent as the default background color
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s, color 0.3s; // Add transition properties

    .header {
        padding: 1rem 0;
    }

    &.fixed-header {
        position: fixed;
        //   background-color: white;
        color: #62646a; // Change text color to #62646a
        transition: background-color 0.3s, color 0.3s; // Add transition properties for the fixed header
    }

    &.scrolling {
        // This class controls the background color when scrolling starts
        background-color: white;
    }

    .nav,
    select,
    button,
    .btn-join,
    .btn,
    .option-header,
    li {
        text-decoration: none;
        color: inherit;
        font-family: macan-semibold;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        height: em(80px);

        width: 100%;
        margin-left: 25px;
        /* Move Div 3 50px into the space of Div 2 */
        width: calc(100% + 50px);
        /* Adjust the width to fill the space */

        /* Set a transparent border by default */





        .nav-bar {
            display: flex;
            flex-direction: row;
            // margin-left: 32px;

            .ul {
                display: flex;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;


                li {
                    cursor: pointer;
                    padding: 0 24px 0 0;
                    line-height: em(24px);
                    list-style: none;

                    .nav {
                        font-family: macan-semibold;
                        font-size: em(16px);
                        font-weight: 600;
                    }
                }

            }
        }

        .nav {
            // padding: 5px;
        }

        .option-header {
            display: none;
        }

        .btn-join {
            border: solid 1px white;
            border-radius: 4px;
            height: 36px;
            width: 63px;
            /* Use "px" for specifying the height */
            line-height: 24px;
            /* Use "px" for specifying the line height */
            padding: 10px 16px;
            font-size: em(14px) !important;

            &:hover {
                background-color: $clr8;
                /* Change text color to $clr8 on hover */
            }
        }


        .filter-container {
            position: fixed;
            top: -100%;
            left: 0;
            right: 0;
            background-color: #fff;
            transition: top 0.3s ease-in-out;
            z-index: 1000;

            &active {
                top: 0;
            }

            .filter {
                display: flex;
                flex-direction: column;
            }
        }
    }

    option {
        color: #62646a;
    }

    .title-orders {
        color: #62646a;
    }

    .order-txt {
        color: #62646a;
    }

    .img-user {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}

.filter-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    /* Top padding */
    padding-bottom: 10px;
    /* Bottom padding */
    padding-left: 0;
    /* Left padding set to 0 */
    padding-right: 0;
    /* Right padding set to 0 */
    // height: em(40px);
    font-family: macan-semibold;

    &.scrolling {
        border-bottom: 1px solid #e4e5e7;
    }
}



.logo {
    margin: -25px;
}

.green-color {
    color: $clr8 !important;
    border: solid 1px $clr8 !important;
}


.header {
    &.scrolling {
        border-bottom: 1px solid #e4e5e7;
        /* Add the border-bottom property for scrolling */
    }
}

.order-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 1px solid #3b3737;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white !important;

    .order-img-container {
        display: flex;
        align-items: center;

        .order-imgs {
            width: 175px;
            height: 110px;
            object-fit: fill;
            border-radius: 4px;
            margin-right: 20px;

        }
    }

    .order-details {
        display: flex;

        .order-info {
            display: flex;
            flex-direction: column;
            font-family: macan-semibold;
            font-weight: 600;
            color: #62646a;
            text-align: left;
            margin-bottom: 4px;
            font-size: 20px;
            line-height: 140%;
            .order-info-section{
                display: flex;
                justify-content: space-between;
                margin-left: -45px;

            }
        }
    }
}