.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        border: 1px solid #e4e5e7;
        border-radius: 8px;
        // z-index: 0;

        img {
            border-radius: 8px;

            background: linear-gradient(180deg, #fff, #b5b6ba);
            object-fit: contain;
        }
    }


    .carousel-button {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 0.2s ease-in-out;

        &.left {
            left: 0;
            transform: translateX(-10%);
        }

        &.right {
            right: 0;
            transform: translateX(10%);
        }
    }

    &:hover {
        .carousel-button.left {
            opacity: 1;
            transform: translateX(10%);
        }

        .carousel-button.right {
            opacity: 1;
            transform: translateX(-10%);
        }
    }

    .save {
        position: absolute;
        right: 6px;
        top: 6px;
        
            button{
                background-color: transparent;
                border: 0;
                cursor: pointer;
                
                .heart {
                    background-image: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/collect.9f36825.svg);
                    background-size: cover;
                    height: 32px;
                    width: 34px;
                    background-position: left;
              
                    &.clicked {
                      background-position: right;
                    }
                }
        }
    }
}


.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mini-img {
    width: 24px;
    border-radius: 50%;
    max-width: 100px;
    /* Set the maximum width for the image */
    height: auto;
    /* Maintain aspect ratio */

}

.mini-user-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;

    // padding: 10px;
    .left-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .left-user {
            gap: 8px;
        }

        .user-name {
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            color: #222325;

            &:hover {
                text-decoration-line: underline;
            }
        }
    }
}



.right-content {
    .user-level {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        color: #222325;
        padding: 0 8px;
    }
}


p.gig-price {
    font-weight: 700;
    color: #222325;
    margin-top: 8px;
    // background-color: blue;

}

.gig-rate {
    align-items: center;
    margin-top: 8px;

    .stars {
        padding-bottom: 4px;

    }

    b {
        padding-left: 4px;
    }

    span {
        padding-left: 4px;

    }
}

span.gig-title {
    height: 48px;
    max-height: 48px;
    margin-top: 5px;
    font-weight: 400;
    padding-top: 4px;


    &:hover {
        text-decoration-line: underline;
    }
}