.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        border: 1px solid #e4e5e7;
        border-radius: 8px;
        
        .image-container {
            position: relative;
            // height: 100vh;
            // overflow: hidden;
            border-radius: 8px;
            
            &:after {
                border-radius: 8px;
                background-image: linear-gradient(0deg, rgba(0, 0, 0, .3), hsla(0, 0%, 100%, 0));
                bottom: 0;
                content: "";
                height: 40px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 0;
            }

            img {
                border-radius: 8px;
                background: linear-gradient(180deg, #fff, #b5b6ba);
                object-fit: contain;
            }

            .dot-container {
                position: absolute;
                bottom: 18px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 4;
            }
        }

        .dot {
            width: 7px;
            height: 7px;
            background: #fff;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .dot.active {
            width: 11px;
            height: 11px;
        }

    }


    .carousel-button {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 0.2s ease-in-out;

        &.left {
            left: 0;
            transform: translateX(-10%);
        }

        &.right {
            right: 0;
            transform: translateX(10%);
        }
    }

    &:hover {
        .carousel-button.left {
            opacity: 1;
            transform: translateX(10%);
            z-index: 3;
        }

        .carousel-button.right {
            opacity: 1;
            transform: translateX(-10%);
            z-index: 3;
        }
    }

    .save {
        position: absolute;
        right: 6px;
        top: 6px;

        button {
            background-color: transparent;
            border: 0;
            cursor: pointer;

            .heart {
                background-image: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/collect.9f36825.svg);
                background-size: cover;
                height: 32px;
                width: 34px;
                background-position: left;

                &.clicked {
                    background-position: right;
                }
            }
        }
    }
}


.mini-img {
    width: 24px;
    border-radius: 50%;
    max-width: 100px;
    height: auto;
}

.mini-user-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;

    .left-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .left-user {
            gap: 8px;
        }

        .user-name {
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            color: #222325;

            &:hover {
                text-decoration-line: underline;
            }
        }
    }
}



.right-content {
    .user-level {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        color: #222325;
        padding: 0 8px;
    }
}


p.gig-price {
    font-weight: 700;
    color: #222325;
    margin-top: 8px;
}

.gig-rate {
    align-items: center;
    margin-top: 8px;

    .stars {
        padding-bottom: 4px;

    }

    b {
        padding-left: 4px;
    }

    span {
        padding-left: 4px;

    }
}

span.gig-title {
    height: 48px;
    max-height: 48px;
    margin-top: 5px;
    font-weight: 400;
    padding-top: 4px;


    &:hover {
        text-decoration-line: underline;
    }
}