
.slick-dots li button:before {
    color: #fff;
    opacity: 1;
    font-size:8px ;

}
.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
   font-size:12px ;
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    align-items: center;
    padding: 4px;
 

    .li {
        display: inline;
        padding: 0 2px;
        transform: scale(.8);
        transition: 0.3s;
        color: #fff;


        &:after {
            content: '\25CF';
        }

        &.active {
            transform: scale(1.2);
        }

        &.edge {
            transform: scale(.5);
        }

        &.hide {
            display: none;
        }
    }
}
.details-gallery{
    width: 60vh;

}

.mini-img{
    width: 24px;
    border-radius: 50%;

}
.mini-user {
    display: grid !important;
    grid-column: 1;
    align-items: flex-start !important;
    text-align: center;

  }
  
