.main {
    position: relative;
    top: -16%;
}

.image-slides-container {
    position: relative;
    width: 100%;
    /* Set the maximum width to 1400px */
    margin: 0 auto; /* Center align the container horizontally */
    height: 70vh;
    overflow: hidden;
}
.background-div{
    height: 100vh;
    width: 100wh;
}

.image-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-size: contain; /* Scale the image to fit the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image vertically and horizontally */
    opacity: 0;
    transition: opacity 1s;
    max-width: 100%; /* Images will occupy full width of the container while preserving aspect ratio */
    margin: 0 auto; /* Center align each image horizontally */
}




.image-slide.active {
    opacity: 1;
}

.img-title-overlay {
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;
    border-radius: 5px;

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        line-height: 56px;

        .tag-filter-container {
            display: flex;
            align-items: center;
            gap: 10px; /* Adjust the gap as needed */
          }
          
          .popular-label {
            font-weight: bold; /* Optional: Make the label bold */
          }
          

        .img-title {
            // margin-bottom: 10px;
            font-size: 48px;

            i {
                font-family: domnic-display;
            }
        }

        .search-form {
            display: flex;
            flex-direction: column;

            .search-input-container {
                display: flex;

                .search-input {
                    flex: 1;
                    padding: 10px;
                    border-radius: 4px;
                }

                .btn-search {
                    background-color: $clr1;
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    border-radius: 4px;

                    .search-icon {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $belowMainImg;

    .sponsor-title {
        color: #b5b6ba;
        padding-right: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        font-family: macan-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;

        @media (max-width: 1100px) {
            display: none;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 24px;
        height: 70px;
        list-style: none;

        img {
            padding: 30px;
        }
    }
}
