.info-container {
    align-items: center;
    background: #f1fdf7;
    margin-bottom: 96px;

    .info-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 96px 0;

        .info-txt {
            padding: 0 158px 0 16px;

            h2 {
                font-family: macan-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 32px;
                line-height: 38.4px;
                color: #404145;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 10px;
                    color: #62646a;
                    margin-bottom: 20px;

                    h6 {
                        font-size: 18px;
                        line-height: 25.2px;
                        font-family: macan-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
                        margin: 0px;
                        margin-bottom: 5px;
                    }

                    p {
                        margin: 0px;
                    }
                }
            }
        }

        .video-modal {

            .video-background {
                position: relative;
                width: 630px;
                height: 400px;
                background-image: url('https://fiverr-res.cloudinary.com/q_auto,f_auto,w_700,dpr_1.0/v1/attachments/generic_asset/asset/089e3bb9352f90802ad07ad9f6a4a450-1599517407052/selling-proposition-still-1400-x1.png');
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: center;
                justify-content: center;

                .play-button {
                    width: 100px; // Adjust the size as needed
                    height: 100px; // Adjust the size as needed
                    cursor: pointer;
                }

                iframe {
                    width: 100%;
                    height: 100%;
                    opacity: 0.7;
                }
            }
        }
    }
}