.container {
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: white;
    border-top: 1px solid #1dbf73;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    z-index: 999;
    /* Add a z-index to make it appear above other content */
    transform: translateY(0);
    /* Initialize transform property */
    transition: transform 0.3s ease;

    .footer-nav {

        width: 375px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        

        .fa-house-chimney {
            color: #1dbf73;
            font-size: 35px;
        }

        .fa-clipboard-list {
            color: #1dbf73;
            font-size: 35px;
        }

        .fa-circle-user {
            color: #1dbf73;
            font-size: 35px;
            // margin-right: 15px
        }

        .fa-magnifying-glass {
            color: #1dbf73;
            font-size: 35px;
        }

        .fa-table-list {
            color: #1dbf73;
            font-size: 35px;
        }

        .fa-solid {
            color: #1dbf73;
            font-size: 45px;
        }
    }
}

.sticky-footer {
    padding-top: 25px
    /* Move the container up by its own height */
}


@media (min-width: 768px) {
    .container {
        display: none;
    }
}
@media (max-width: 768px) {
    .tip {
        left: calc(100% - 16px);
        border-bottom-color: rgba(0, 0, 0, .25);
        border-top-width: 0;
        top: auto; /* Remove the negative top value */
        bottom: -11px; /* Add a negative bottom value */
        border-width: 10px;
        border-color: transparent;
        border-style: solid;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        width: 0;

        &::after {
            border-bottom-color: #fff;
            top: auto; /* Remove the positive top value */
            bottom: 1px; /* Add a positive bottom value */
            border-top-width: 0;
            transform: translateX(-50%);
            border-width: 10px;
            border-color: transparent;
            border-style: solid;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            width: 0;
        }
    }
}
