.popular-service-title {
    
    color: #404145;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    

}

$black_15: rgba(0, 0, 0, .15);

$base_multiplier: 36px;

$slide_gap: $base_multiplier;
$slide_gap_half: calc($base_multiplier/2);

$slide_gap_alt: 24px;
$slide_gap_alt_half: calc($slide_gap_alt/2);



$slide_arrow_size: 20px;
$slide_small_arrow_size: 16px;
$slide_arrow_button_size: 40px;
$slide_small_arrow_button_size: 32px;

.slick-arrow {
    background-color: #fff;
    position: absolute;
    z-index: 4;
    top: 50%;
    width: $slide_arrow_button_size;
    height: $slide_arrow_button_size;
    margin-top: $slide_arrow_button_size * -.5;
    text-align: center;
    box-shadow: 0 2px 5px 0 $black_15;
    border: 0;
    font-size: 16px;
    line-height: 100%;
    border-radius: 30px;

    &.small-arrow {
        width: $slide_small_arrow_button_size;
        height: $slide_small_arrow_button_size;
        margin-top: $slide_small_arrow_button_size * -.5;

        &:after {
            background-size: $slide_small_arrow_size (
                4 * $slide_small_arrow_size
            );
        width: $slide_small_arrow_size;
        height: $slide_small_arrow_size;
    }
}

&:after {
    content: '';
    display: inline-block;
    // background: url('../../img/arrows.c651879.svg') no-repeat;
    background-size: $slide_arrow_size (
        4 * $slide_arrow_size
    );
width: $slide_arrow_size;
height: $slide_arrow_size;
margin-top: 3px;
}

&.slick-disabled {
    display: none;

    &.slick-next {
        right: -(calc($slide_arrow_button_size/2) - calc($slide_gap_half/2) + 2);
        border-radius: 30px;

        &.small-arrow {
            right: -(calc($slide_small_arrow_button_size/2) - calc($slide_gap_half/2) + 2);

            &:after {
                background-position: 0 (3 * -$slide_small_arrow_size);
            }
        }

        &:after {
            background-position: 0 (3 * -$slide_arrow_size);
        }
    }

    &.slick-prev {
        left: -(calc($slide_arrow_button_size/2) - calc($slide_gap_half/2) + 2);
        border-radius: 30px;

        &.small-arrow {
            left: -(calc($slide_small_arrow_button_size/2) - calc($slide_gap_half/2) + 2);

            &:after {
                background-position: 0 (2 * -$slide_small_arrow_size);
            }
        }

        &:after {
            background-position: 0 (2 * -$slide_arrow_size);
        }
    }
}
}



.popular-services-slider {
    position: relative;
    top: -20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
    // width: 132vh;

    .slide {
        text-align: start;
        padding: 16px;
        position: relative;

        img {
            border-radius: 4px;
            transition: opacity .3s;

            &:hover {
                opacity: .85;
            }
        }


        h4 {
            color: #fff;
            font-family: "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 700;


            position: absolute;
            top: 10px;
            width: 100%;
            padding: 16px;
            margin: 0;
            box-sizing: border-box;
            z-index: 1;
            font-size: 24px;
            line-height: 110%;

            small {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}