.search-form {
  display: flex;
  flex-direction: column;

  .search-input-container {
    display: flex;
    position: relative;

    .search-input {
      flex: 1;
      padding: 10px;
      border-radius: 4px 0px 0px 4px;
      min-width: em(464px);
      height: em(40px);
      // width: em(50px);
      font-size: em(16px);
      border: 1px solid #c5c6c9;
      outline: none;
      &:focus{
        border: 1px solid #222325;
        color: #62646a;
      }
    }

    @media (max-width: 768px) {
      .search-input {
        min-width: 395px;

        &::placeholder {
          content: "sfsdfsdfsdfsdf";
        }
      }
    }

    .btn-search-header {
      background-color: #222325;
      color: #fff;
      border-radius: 0 4px 4px 0;
      display: block;
      font-size: 14px;
      text-shadow: none;
      flex-shrink: 0;
      padding: 8px 16px;
      z-index: 3;
      cursor: pointer;
      margin-left: -5px;
      // display: flex;
      // justify-content: center;
      // background-color: $clr7;
      // color: white;
      // padding: 10px 20px;
      // border: none;
      // border-radius: 0px 4px 4px 0px;
      // height: 40px;
      // width: 50px;

      // .search-icon {
      //   font-size: 15px;
      // }
    }

    @media (max-width: 768px) {
      .btn-search-header {
        display: none;
      }
    }
  }

  //   @media (max-width: 768px) {
  //     .search-input-container {
  //         display: flex;
  //         position: relative;
  //         justify-content: center;
  // }
  // }

  .autocomplete-suggestions {
    position: absolute;
    top: 62%;
    left: 23.15%;
    width: 26.4%;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
    z-index: 1;

    div {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}