.main-gig-payment {
    position: relative;

    .payment-page-main-layout {
        padding: 32px 0px 40px;
        min-height: calc(100vh - 160px);
        box-sizing: border-box;
        background-color: #fff;
        max-width: 1400px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;

        .grid-12.center-xs {
            position: relative;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            text-align: center;
            flex: 0 1 auto;
            flex-flow: row wrap;
            margin-left: -6px;
            margin-right: -6px;
            margin-right: -16px;
            margin-left: -16px;

            @media screen and (max-width: 1100px) {
                flex-direction: column;
            }

            .payment-container {
                margin-top: 16px;
                padding: 0 16px;
                flex-basis: 58.33333%;
                max-width: 58.33333%;

                @media screen and (max-width: 1100px) {
                    flex-basis: 100%;
                    max-width: 100%;
                }


                .billing-info-wrapper {
                    margin-bottom: 24px;
                    border-radius: 4px;
                    text-align: left;
                    border: 1px solid #efeff0;

                    .section-header {
                        padding: 16px;
                        // height: 22.3px;

                        display: flex;

                        flex-direction: row;
                        gap: 12px;

                        align-items: center;
                        padding: 16px;
                        background-color: #fafafa;
                        border-bottom: 1px solid #efeff0;

                        .text-display-7 {
                            margin: 0;
                            font-size: 16px;
                            line-height: 140%;
                            color: #404145;
                            font-family: macan-semibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
                        }
                    }

                    .p-20 {
                        padding: 20px;

                        // height: 112px;
                        .flex-col {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            @media screen and (max-width: 1100px) {
                                flex-direction: column;

                                .FW1syM7 {
                                    margin-top: 10px;
                                }
                            }


                            .payment-page-gap-16 {
                                gap: 16px;
                                display: flex;
                                flex-direction: column;

                                .texts {
                                    vertical-align: baseline;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;

                                    .semi {
                                        font-family: macan-semibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
                                        color: #62646a;
                                    }

                                    .deatil {
                                        line-height: 24px;
                                        font-size: 100%;
                                        color: #62646a;
                                        font-family: macan-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;

                                    }
                                }

                                .payment-page-max-w-unset {
                                    font-family: macan-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
                                    max-width: 360px;
                                    margin: 0;
                                    color: #62646a;



                                }
                            }

                            .FW1syM7.xaFER3a {
                                // background: none;
                                // border-color: #222325;
                                // max-width: fit-content;
                                // height: 42px;
                                // display: inline-block;
                                // color: #222325;
                                // box-sizing: border-box;
                                // position: relative;
                                // padding: 12px 24px;
                                // border-radius: 4px;
                                // font-weight: 600;
                                // font-size: 16px;
                                // line-height: 100%;
                                // text-decoration: none;
                                // text-align: center;
                                // cursor: pointer;
                                // transition: 70ms cubic-bezier(.75, 0, .25, 1);
                                display: inline-block;
                                box-sizing: border-box;
                                position: relative;
                                padding: 12px 24px;
                                border: 1px solid transparent;
                                border-radius: 4px;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 100%;
                                text-decoration: none;
                                text-align: center;
                                cursor: pointer;
                                transition: 70ms;
                                background: none;
                                color: #222325;
                                border-color: currentColor;
                                max-width: fit-content;
                                height: 42px;

                            }
                        }
                    }

                }


                .payment {
                    margin-bottom: 24px;

                    & .payment-option {
                        display: flex;
                        flex-direction: row;
                        gap: 12px;
                        align-items: center;
                        border: 1px solid #efeff0;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                        background-color: #fafafa;
                        padding: 16px;


                        & .payment-title {
                            font-size: em(16px);
                            line-height: 140%;
                            font-family: macan-semibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
                            color: #404145;
                            vertical-align: baseline;
                        }
                    }

                    & .payment-method {
                        border: 1px solid #efeff0;
                        border-radius: 0 0 4px 4px;
                        text-align: left;

                        & .payment-rdio {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            height: 64px;
                            box-sizing: border-box;
                            vertical-align: center;
                            padding-left: 16px;

                            & .payment-method-header {
                                display: flex;
                                align-items: flex-end;
                                cursor: pointer;

                                & .fiverrpay-header {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    margin-right: 16px;

                                    & .payment-title {
                                        margin-bottom: 0;
                                        margin-left: 0;
                                        color: #404145;
                                        margin-right: 8px;
                                    }

                                    & .svg {
                                        width: 152;
                                        height: 20;
                                        fill: none;
                                    }
                                }
                            }
                        }

                        & .payment-details {
                            padding-left: 40px;
                            padding: 24px 18px;
                            border-top: 1px solid #efeff0;
                            box-shadow: inset 0 2px 4px rgba(0, 0, 0, .06);
                            text-align: left;

                            & .fiverrpay-form {
                                max-width: 520px;

                                & .card-number {
                                    color: #404145;
                                    font-family: macan-semibold, "Helvetica Neue", Helvetica, Arial, sans-serif;

                                    & .crad-num {
                                        display: flex;
                                        flex-wrap: nowrap;
                                        border: 1px solid #c5c6c9;
                                        border-radius: 4px;
                                        flex-basis: 100%;
                                        align-items: center;
                                        height: 45px;
                                        margin-top: 10px;
                                        padding: 1px 0;

                                        & .card-logo {
                                            display: inline-block;
                                            height: 40px;
                                            width: 40px;
                                            background: white no-repeat;
                                            border: none;
                                            background-position-y: center;
                                            margin-left: 16px;
                                        }

                                        input {
                                            height: 42px;
                                            color: #404145;
                                            outline: none;
                                            width: 100%;
                                            box-sizing: border-box;
                                            border: none;
                                            font-family: macan-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
                                            padding-top: 0px;
                                            padding-right: 4px;
                                            padding-left: 4px;
                                            padding-bottom: 0px;
                                        }
                                    }
                                }

                                & .exp-cvv {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    gap: 16px;
                                    margin-top: 8px;

                                    & .expiration-date {
                                        flex-grow: 1;
                                        padding-top: 10px;

                                        & .input-wrapper {
                                            border: 1px solid #c5c6c9;
                                            border-radius: 4px;
                                            margin-top: 10px;
                                            align-self: center;
                                            padding: 1px 0;

                                            input {
                                                outline: none;
                                                width: 100%;
                                                padding-left: 16px;
                                                box-sizing: border-box;
                                                border: none;
                                                height: 42px;
                                            }


                                        }
                                    }

                                    & .security-code {
                                        flex-grow: 1;
                                        padding-top: 10px;

                                        & .security-code-title {
                                            display: flex;
                                            align-items: center;
                                        }

                                        & .input-wrapper {
                                            border: 1px solid #c5c6c9;
                                            border-radius: 4px;
                                            margin-top: 10px;
                                            align-self: center;
                                            padding: 1px 0;

                                            input {
                                                height: 42px;
                                                outline: none;
                                                width: 100%;
                                                padding-left: 16px;
                                                box-sizing: border-box;
                                                border: none;
                                            }
                                        }
                                    }
                                }

                                & .name-fields {
                                    display: flex;
                                    flex-wrap: nowrap;
                                    justify-content: space-between;
                                    gap: 16px;

                                    & .field {
                                        margin: 0 0 16px;
                                        display: inline-block;
                                        width: 234px;
                                        flex-grow: 1;

                                        & .first_name-label {
                                            color: #404145;
                                            font-weight: 600;
                                            display: block;
                                            margin-bottom: 8px;
                                        }

                                        & .WvIqLXU {
                                            display: inline-block;
                                            position: relative;
                                            width: 100%;

                                            & .T1b6wH {
                                                position: relative;
                                            }

                                            input.GD3asS {
                                                border-color: #c5c6c9;
                                                box-sizing: border-box;
                                                width: 100%;
                                                padding: 8px 12px;
                                                border: 1px solid #c5c6c9;
                                                border-radius: 4px;
                                                box-shadow: none;
                                                font: inherit;
                                                color: #404145;
                                                transition: 0.15s ease-in-out;
                                                line-height: 24px;
                                            }
                                        }

                                        & .field:last-child {
                                            margin: 0 0 16px;
                                            display: inline-block;
                                            width: 234px;
                                        }

                                        & .last_name-label {
                                            color: #404145;
                                            font-weight: 600;
                                            display: block;
                                            margin-bottom: 8px;
                                        }

                                        & .WvIqLXU {
                                            display: inline-block;
                                            position: relative;
                                            width: 100%;

                                            & .T1b6wH {
                                                position: relative;
                                            }

                                            input.GD3asS {
                                                border-color: #c5c6c9;
                                                box-sizing: border-box;
                                                width: 100%;
                                                padding: 8px 12px;
                                                border: 1px solid #c5c6c9;
                                                border-radius: 4px;
                                                box-shadow: none;
                                                font: inherit;
                                                color: #404145;
                                                transition: 0.15s ease-in-out;
                                                line-height: 24px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .paypal {
                            border-top: 1px solid #efeff0;
                            padding-left: 16px;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            height: 64px;
                            box-sizing: border-box;
                            vertical-align: center;

                            .circle {
                                height: 22px;
                                // display: inline-flex;
                                // flex-direction: row;
                                // align-items: center;
                                // color: #222325;
                            }
                        }
                    }
                }
            }

            .error {
                // visibility: hidden;
                display: block;
                color: #fa1f29;
                font-size: 12px;
                line-height: 18px;
                max-width: 240px;
                font-weight: 400;
                padding: 10px;

            }

            .Oh4QBmH-radio input[type="radio"] {
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;
            }

            .Weg1Ghm {
                box-sizing: border-box;
                display: inline-block;
                position: relative;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                align-self: flex-start;
                margin-top: 1px;
                border: 1px solid #dadbdd;
                border-radius: 50%;
                margin-right: 8px;
                cursor: pointer;
            }


            .Oh4QBmH-radio input[type="radio"]:checked+.Weg1Ghm {
                border-color: #222325;
                border-width: 5px;
            }

            .Oh4QBmH-radio-paypal input[type="radio"] {
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;
            }

            .Weg1Ghm {
                box-sizing: border-box;
                display: inline-block;
                position: relative;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                align-self: flex-start;
                margin-top: 1px;
                border: 1px solid #dadbdd;
                border-radius: 50%;
                margin-right: 8px;
                cursor: pointer;
            }


            .Oh4QBmH-radio-paypal input[type="radio"]:checked+.Weg1Ghm {
                border-color: #222325;
                border-width: 5px;
            }

            //
            .pay-radio input[type="radio"] {
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;
            }

            .Weg1Ghm-pay {
                box-sizing: border-box;
                display: inline-block;
                position: relative;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                align-self: flex-start;
                margin-top: 1px;
                border: 1px solid #dadbdd;
                border-radius: 0;
                margin-right: 8px;
                cursor: pointer;
            }

            /* Add 'V' content when checked */
            .pay-radio input[type="radio"]:checked+.Weg1Ghm-pay::before {
                content: 'V';
            }

            /* Style for the checked radio button */
            .pay-radio input[type="radio"]:checked+.Weg1Ghm-pay {
                //  border-color: #222325;
                border-width: 5px;
            }




            .side-content {
                margin-top: 16px;
                margin: 0 auto;
                padding: 0 16px;
                flex-basis: 41.66667%;
                max-width: 41.66667%;
                flex: 0 0 auto;
                margin-top: 16px;

                ._1mm74yfy3 {
                    margin-bottom: 16px;
                    display: block;
                    padding-bottom: 12px;
                    box-sizing: border-box;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row;
                    gap: 12px;
                    color: #62646a;
                    font-family: macan-regular;
                    font-weight: 400;

                    button {

                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                    }

                    .collect-wrapper {
                        display: flex;
                        align-items: center;

                        .collect-package {
                            column-gap: 8px;
                            display: flex;

                            .jEW3B9z {
                                position: relative;
                                display: inline-flex;
                                border: 0;

                                .HsyURQF {
                                    user-select: none;
                                    box-sizing: border-box;
                                    display: inline-flex;

                                    .jEW3B9z {
                                        display: inline-flex;

                                        .mTBRWF_ {
                                            background-color: transparent;
                                            cursor: pointer;
                                            border: 0;
                                            display: flex;
                                            position: relative;
                                            font: inherit;

                                            .glAQDp5 {
                                                width: 16px;
                                                height: 16px;
                                                fill: #b5b6ba;

                                                svg {
                                                    float: left;
                                                    height: 100%;
                                                    width: 100%;
                                                }

                                            }
                                        }
                                    }
                                }
                            }

                            .HsyURQF {
                                box-sizing: border-box;
                                display: inline-flex;

                                .iyKO0_a {
                                    background-color: transparent;
                                    border: 0;
                                    display: flex;
                                    cursor: pointer;

                                    .glAQDp5 {
                                        width: 16px;
                                        height: 16px;
                                        fill: #b5b6ba;
                                        position: relative;

                                        svg {
                                            float: left;
                                            height: 100%;
                                            width: 100%;
                                        }
                                    }
                                }

                            }

                        }

                        .collect-count {
                            border: 1px solid #dadbdd;
                            border-radius: 3px;
                            box-sizing: border-box;
                            color: #222325;
                            font-size: 14px;
                            margin-left: 13px;
                            // padding: 2px 10px;
                            position: relative;
                            padding: 8px 15px;


                            &::before {
                                background-color: transparent !important;
                                border-color: transparent #dadbdd transparent transparent;
                                border-width: 8px 9px 8px 0;
                                left: -9px;
                                top: 6px;
                                z-index: 2;
                                border-style: solid;
                                content: "";
                                position: absolute;
                            }

                            &::after {
                                border-color: transparent #fff transparent transparent;
                                border-width: 6px 8px 6px 0;
                                left: -8px;
                                top: 8px;
                                z-index: 3;
                                border-style: solid;
                                content: "";
                                position: absolute;
                            }
                        }
                    }

                    .yvFG0X6 {
                        max-width: 100%;
                        width: fit-content;

                        .kJEfvot {
                            border-color: #e4e5e7 !important;
                            color: #222325;
                            display: inline-flex;
                            align-items: center;
                            border: 1px solid transparent;
                            border-radius: 8px;
                            box-sizing: border-box;
                            cursor: pointer;
                            font-size: 16px;
                            font-weight: 600;
                            gap: 8px;
                            justify-content: center;
                            line-height: 24px;
                            padding: 8px 15px;
                            position: relative;
                            text-decoration: none;
                            transition: 70ms cubic-bezier(.75, 0, .25, 1);
                            user-select: none;
                        }
                    }

                }

            }

            // @media screen and (max-width: 1100px) {
            //     display: flex;
            //     flex-direction: column;
            // }

            .summary {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top: none;
                margin: 0;
                padding: 16px 24px;
                border-color: #f4f4f4 #e4e5e7;
                border-style: solid;
                border-width: 1px;
                width: 377px;
                box-sizing: border-box;
                margin: 0;

                .summary-table {
                    border-bottom: 1px solid #f4f4f4;
                    padding: 0 0 16px;
                    margin-bottom: 16px;

                    .table-row {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;
                        padding: 6px 0;
                        font-family: macan-regular;
                        color: #62646a;


                        .tooltip {
                            position: relative;
                            display: inline;
                            color: #555;
                            padding: 0 0 0 4px;
                            margin-left: 4px;

                            ._5-fo9i5 {
                                box-sizing: border-box;
                                display: inline-flex;

                                i {
                                    color: #555;
                                    font-style: normal;
                                    font-size: 15px;
                                    opacity: .4;
                                    display: inline-block;
                                    font: normal normal normal 14px/1 FontAwesome;
                                    font-size: inherit;
                                    text-rendering: auto;
                                }
                            }

                            .Gcze-fJ {
                                position: absolute;
                                z-index: 1;
                                top: 0;
                                left: 0;
                                width: 100%;

                                .zBHi7jg {
                                    // display: none !important;
                                    left: 0;
                                    top: 20px;
                                    padding-bottom: 8px;
                                    box-sizing: border-box;
                                    position: absolute;
                                    z-index: 10000;

                                    .box-content {
                                        position: relative;
                                        min-width: 300px;
                                        background: #404145;
                                        padding: 12px;
                                        border: none;
                                        box-shadow: none;
                                        color: #fff;
                                        text-align: left;
                                        font-size: 14px;
                                        line-height: 21px;
                                    }
                                }
                            }

                        }

                        .price {
                            white-space: nowrap;
                            margin-left: 4px;
                        }
                    }
                }

                .summary-footer {
                    padding: 0 0 16px;

                    .table-row {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;
                        padding: 6px 0;
                        font-family: macan-regular;
                        color: #62646a;

                    }

                    .total-price:not(.currency-suggested-total) {
                        margin-bottom: 4px;
                        font-weight: 700;
                        font-size: 18px;
                    }

                    .table-row:first-child {
                        padding-top: 20px;
                    }
                }

                .pay-button {
                    width: 100%;
                    position: unset;
                    padding: 15px 24px;
                    display: inline-block;
                    box-sizing: border-box;
                    position: relative;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    text-decoration: none;
                    text-align: center;
                    cursor: pointer;
                    transition: 40ms cubic-bezier(.75, 0, .25, 1);
                    background-color: black;
                    color: white;

                    &:hover {
                        background-color: #404145;
                    }
                }

                button {
                    position: relative;

                    &.pay-button {
                        // Your existing button styles

                        &.Oh4QBmH-radio-paypal-clicked {
                            width: 100%;
                            position: unset;
                            padding: 15px 24px;
                            display: inline-block;
                            box-sizing: border-box;
                            position: relative;
                            border: 1px solid transparent;
                            border-radius: 18px;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 100%;
                            text-decoration: none;
                            text-align: center;
                            cursor: pointer;
                            transition: 70ms cubic-bezier(.75, 0, .25, 1);
                            background-color: rgb(0, 156, 222);
                            color: white;
                            height: 35px;
                            min-width: 200px;
                            max-width: 300px;
                            font-size: 11px;

                            iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 18px;
                                border: none;
                            }
                        }
                    }
                }

                .secure-payment {
                    font-size: 14px;
                    line-height: 22px;
                    color: #62646a;
                    text-align: center;
                    margin-top: 8px;

                    .fa {
                        margin-right: 8px;
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                    }
                }

                .currency-message {
                    max-width: 400px;
                    display: inline-block;
                    color: #95979d;
                    text-align: center;
                    margin-top: 8px;
                    padding: 0 4px;
                }

                .tbody-6 {
                    font-size: 14px;
                    line-height: 21px;
                }

            }

            .order-details-container {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background-color: #fafafa;
                border-bottom: none;
                padding: 16px 24px;
                border-color: #f4f4f4 #e4e5e7;
                border-style: solid;
                border-width: 1px;
                width: 377px;

                .gig {


                    .order-details-header {
                        display: flex;
                        padding-bottom: 16px;
                        // border-bottom: 1px solid #eee;
                        align-items: flex-start;
                        justify-content: flex-start;


                        .image-container {
                            position: relative;

                            .order-image {
                                width: 110px;
                                height: 70px;
                                -o-object-fit: fill;
                                object-fit: fill;
                                border-radius: 4px;
                                margin-right: 16px;
                            }
                        }

                        .order-title {
                            margin: 0;
                            font-weight: 600;
                            color: #62646a;
                            text-align: left;
                            margin-bottom: 4px;
                            font-size: 16px;
                            line-height: 140%;
                        }
                    }

                    .order-details-general {

                        display: flex;
                        // width: 377px;
                        justify-content: space-between;
                        padding: 16px 0;
                        font-weight: 500;
                        background-color: transparent;
                        margin-bottom: 0;
                        text-align: left;
                        border: none;

                        .order-details-general-title {
                            color: #62646a;
                            font-size: 16px;
                            line-height: 140%;
                            font-family: macan-semibold;

                            .quantity-price-container {

                                display: flex;

                                flex-basis: 40%;

                                justify-content: space-between;

                                .order-details-general-price {
                                    color: #62646a;
                                    text-align: right;
                                    white-space: nowrap;
                                    margin-left: 4px;

                                }
                            }
                        }
                    }

                    .order-details-items-container {
                        list-style: none;
                        list-style-image: none;
                        padding: 0;

                        .order-details-item:first-child {
                            padding-top: 0;
                        }

                        .order-details-item {

                            display: flex;

                            justify-content: space-between;
                            padding: 6px 0;
                            line-height: 140%;

                            .item-title {
                                display: flex;
                                align-items: flex-start;

                                .order-details-item-icon {
                                    margin-right: 9px;
                                    margin-top: 2px;

                                    svg {
                                        float: left;
                                        height: 100%;
                                        width: 100%;
                                    }

                                }
                            }



                            .order-details-item {
                                display: flex;

                                justify-content: space-between;
                                padding: 6px 0;
                                line-height: 140%;



                            }
                        }

                        .order-details-item-title {
                            -webkit-box-flex: 2;
                            -ms-flex: 2;
                            flex: 2 1;
                            margin-right: 9px;
                            text-align: left;
                        }


                    }
                }
            }
        }
    }
}