// .main-home {
//     // position: relative;
//     top: -2%;
//     display: flex;
//     flex-direction: column;

//     .main-hero {
//         display: flex;
//         // height: 100%;
//         // margin-top: 125px;
//         // max-width: 1400px;

        .main-img-container {
            opacity: 0;
            transition: opacity 2s ease-in-out;
            // position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;


        }

        .main-img-container.active {
            opacity: 1;
        }

        .img-title-overlay {
            position: absolute;
            top: 30%;
            left: 37%;
            transform: translate(-50%, -50%);
            padding: 20px;
            color: white;
            border-radius: 5px;
        }

        .img-title {
            color: white;
            font-size: 3rem;
            margin-bottom: 1rem;

            i {
                font-family: domnic-display;
            }
        }
    }

    .sponsor {
        // position: inherit;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // background: $belowMainImg;
        // height: 100vh;

        .sponsor-title {
            color: #b5b6ba;
            padding-right: 20px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            font-family: macan-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;

            @media(max-width: 1100px) {
                display: none;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 24px;
            height: 70px;
            list-style: none;

            img {
                padding: 30px;
            }
        }
    }
}




//     // overflow: hidden;
//     height: 85vh;
//     // width: 100%;
//     // background-size: cover;
//     // background-position: center;


//     .img-title-overlay {
//         position: absolute;
//         top: 50%;
//         left: -61%;
//         // height: 100px;
//         transform: translate(-50%, -50%);
//         padding: 20px;
//         color: white;
//         border-radius: 5px;
//         position: absolute;
//         top: -150;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         //   background-color: rgba(0, 0, 0, 0.5);
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         text-align: center;
//         transition: background-color 0.5s ease-in-out;
//     }
// }

// //     .content-container {
// //         display: flex;
// //         align-items: stretch

// //     //   position: relative;
// //     //   z-index: 1;
// //     }

// //     .img-title {
// //       color: white;
// //       font-size: 2rem;
// //     //   margin-bottom: 1rem;
// //     }
// //   }
// .sponsor {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background: $belowMainImg;

//         .sponsor-title {
//             color: #b5b6ba;
//             padding-right: 20px;
//             font-weight: 600;
//             font-size: 16px;
//             line-height: 24px;
//             font-family: macan-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;

//             @media(max-width: 1100px) {
//                 display: none;
//             }
//         }

//         ul {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding: 0 24px;
//             height: 70px;
//             list-style: none;

//             img {
//                 padding: 30px;
//             }
//         }