/* UserDetails.scss */
// .info {
//     margin-top: 150px;
//     margin-right: 150px;
// }

// .gigs{
//     margin-top: 150px;
// }

.user-details {
    // display: flex;
    justify-content: space-between;
    padding: 20px 0 40px;

    background: #f7f7f7;

    span {
        // padding: 5px;
    }

    // min-height: 2000px;
    // overflow-x: hidden;
    // background-color: #f9f9f9;
    .user-container {
        display: flex;
        justify-content: space-between;
        // min-height: 2000px;
        overflow-x: hidden;
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0;

    }


    .info {
        min-width: 400px;
        margin-bottom: 30px;
        position: relative;
        background-color: #fff;
        border: 1px solid #dadbdd;
        padding: 30px;
        font-size: 14px;
        line-height: 130%;
        height: 450px;
        margin-left: 50px;

        .user-img-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .user-profile-img {
                width: 150px;
                height: 150px;
                font-size: 3em;
                margin-bottom: 15px;
                border-radius: 50%;

                &:hover {
                    opacity: 0.4;
                }
            }

            .upload {
                position: absolute;
                bottom: 20px;
                left: 49%;
                transform: translateY((-50%));
                display: flex;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.3s;
                width: 10px;
                fill: #fff;

                &:hover {
                    fill: black;
                }


            }
        }

        .user-img-container:hover .upload {
            opacity: 1;
        }

        .user-name-info {
            display: flex;
            flex-direction: column;

            .user-name {
                display: inline-flex;
                line-height: 130%;
                color: #62646a;
                cursor: pointer;
                justify-content: center;



                .name {
                    display: inline-flex;
                    align-items: center;
                    z-index: 8 !important;
                    padding: 0 !important;
                    box-sizing: border-box;
                    font-weight: 700;
                    color: #222325;
                    cursor: default;
                    background: none;
                    border: 0;
                    font-size: 20px;
                    line-height: 28px;
                }

                .EMfXbxY {
                    display: flex;
                    align-items: center;

                    .new {
                        border-color: rgb(255, 98, 173);
                        background-color: rgb(255, 98, 173);
                        color: rgb(255, 255, 255);
                        align-items: center;
                        cursor: default;
                        margin-left: 8px;
                        text-transform: uppercase;
                        border-radius: 999px;
                        background: #fff;
                        box-sizing: border-box;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 3px 7px 2px;
                        border-width: 1px;
                        border-style: solid;
                        text-decoration: none;
                        text-align: center;
                        color: #fff;
                        font-size: 10px;
                        font-weight: 700;
                        line-height: 100%;

                    }

                    .XQskgrQ {
                        display: inline-flex;
                        width: 12px;
                        height: 12px;
                        fill: rgb(181, 182, 186);
                        cursor: pointer;
                        margin-left: 8px;

                        .svg {
                            float: left;
                            height: 100%;
                            width: 100%;
                        }

                    }
                }


            }

            .user-info-label {
                display: flex;
                justify-content: center;


            }

            .oneliner-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 140%;
                text-align: center;
                margin: 0;
                padding: 0;

                .XQskgrQ {
                    margin: 0 4px;
                    width: 12px;
                    height: 12px;
                    fill: rgb(181, 182, 186);
                    cursor: pointer;
                    margin-left: 4px;
                }
            }

            .buttons-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                line-height: 130%;
                color: #62646a;
                font-family: macan-regular;
                border: solid 1px #62646a;
                border-radius: 4px;

                .FW1syM7 {
                    flex: 1 1;
                    padding: 10px 16px;
                    font-size: 14px;
                    line-height: 18px;
                    display: inline-block;
                    box-sizing: border-box;
                    position: relative;
                    border: 1px solid transparent;

                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    text-decoration: none;
                    text-align: center;
                    cursor: pointer;
                    transition: 70ms cubic-bezier(.75, 0, .25, 1);
                }


            }



        }

        .user-stats {
            border-top: 1px solid #dadbdd;
            margin-top: 24px;
            padding-top: 20px;
            list-style: none;
            list-style-image: none;
            padding-left: 0;

            .location {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .from-user {
                    padding: 0;
                }

                .XQskgrQ {
                    padding: 0;
                    width: 13px;
                    height: 13px;
                    fill: rgb(98, 100, 106);
                    margin-right: 12px;

                    .svg {
                        float: left;
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .member-since {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .since {
                    padding: 0;
                }

                .XQskgrQ {
                    padding: 0;
                    width: 13px;
                    height: 13px;
                    fill: rgb(98, 100, 106);
                    margin-right: 12px;

                    .svg {
                        float: left;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }





    }
    @media (max-width: 768px) {
        .info {
            display: flex;
            flex-direction: column;
            // align-items: center;
            max-width: 380px;
            margin-left: 0;
    
        }
    }

    .user-details-title {
        font-size: 24px;
        margin-bottom: 20px;

        .is-online {
            position: absolute;
            right: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
    }

    .user-info {
        font-size: 16px;
        margin-bottom: 10px;

        .user-info-item {
            margin-bottom: 10px;

            .user-info-label {
                font-weight: bold;
            }
        }

        .user-details-profile {
            text-align: center;

            .user-details-subtitle {
                font-size: 20px;
                margin-top: 20px;
            }

            .user-img {
                width: 10px;
                height: 10px;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                margin-top: 200px;
            }

            .user-details-json {
                font-size: 14px;
                margin-top: 20px;
                white-space: pre-wrap;
            }
        }
    }

    .user-img {
        width: 96px;
        border-radius: 50%;
    }

    .user-details-button {
        background-color: $clr8;
        color: white;
        border: none;
        font-size: 16px;
        padding: 7px 24px;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        font-family: macan-bold;
        font-weight: 700;
    }
}





.orders {
    ul {
        margin: 0;
    }

    .order-profile-container {
        background-color: #fff;
        // justify-content: center;
        text-align: left;
        padding: 0;
        // margin: 15px;
        // max-width: 1240px;
        border: 1px solid #ddd;

        .order-profile-item {

            // display: flex;
            // flex-direction: row;
            .order-wrapper {
                border-bottom: 2px solid #dadbdd;
                padding-top: 15px;

                .img-main {
                    // display: flex;
                    // align-items: center;
                    flex: 1 1;
                    padding: 5px;
                    border-bottom: 2px solid #dadbdd;

                    .order-profile-imgs {
                        width: 100%;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .order-details {
                flex: 2 1;
                padding: 15px 0;
            }

            // align-items: center;
            // border: none;


            .order-profile-img-container {
                display: flex;
                // align-items: center;
                // flex-direction: column;

                .order-profile-imgs {
                    width: 175px;
                    height: 110px;
                    object-fit: fill;
                    border-radius: 4px;
                    margin-right: 20px;
                    border-bottom: 10px solid #dadbdd;
                }

                .seller-imgs {
                    width: 100px;
                    height: 100px;
                    margin-top: 15px;
                    border-radius: 50%
                }
            }

            .order-info {
                padding: 5px;
                font-family: macan-regular !important;

                font-size: em(18px);
                background-color: #fff;
                border-bottom: 2px solid #dadbdd;
                width: 100%;
                width: 100%;
                line-height: 28px;
                font-size: 22px;
                border-bottom: 3px solid gray;
                padding-left: 11px;

                // .txt-review {
                //     margin-bottom: 3px;
                //     display: flex;
                //     flex-direction: row;
                //     justify-content: space-between;
                //     margin-left: 5px;



                .place-start {
                    width: 50%;
                    font-family: macan-regular;
                    // font-weight: 400;
                    color: #404145;
                    // flex: 1 1;

                }

                .txt-review .stat {
                    display: flex;
                    justify-content: space-between;
                    // flex: 2 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 250px;
                    display: inline-block;
                    padding-left: 85px;
                    width: 50%;
                    // line-height: 30px;




                    // font-weight: 400;
                }

            }

            // }


        }

        // .status {
        //     display: flex;
        //     flex-direction: column;
        //     margin-left: 100px;

        //     .txt-review {
        //         // flex-direction: column;
        //     }
        // }

        // .select-status {
        //     display: flex
        // }

        // .custom-select {
        //     display: flex;
        //     // margin-left: 100px;
        // }
    }
}



.order-txt {

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white !important;
    height: 200px;



    &.status-pending {

        color: orange;
    }

    &.status-approve {
        color: green;
        /* Text color for approved status */
    }

    &.status-decline {
        color: red;
        /* Text color for declined status */
    }

    img {
        border: 1px black solid;
        margin-bottom: 10px;
        aspect-ratio: 1 / 0.6;
    }
}

.custom-select {
    // margin-left: 100px;
    background-color: #f2f2f2;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    // padding: 15px;
    // width: 67%;
    font-size: 24px;
    // height: 50px;
    margin: 0;

    .status {
        font-size: 30px;
        font-family: macan-semibold;
        padding: 25px;
        line-height: 50px;
    }

    .username {

        color: black !important;
    }



    /* Add more custom styles as needed */
}

.gigs-profile {
    .mini-user-preview {
        display: none;
    }

    .gig-rate {
        display: none;
    }

    .gig-title {
        text-align: left;
        padding-left: 10px;
        padding-bottom: 5px;
        height: inherit;
    }

    .gig-price-edit {
        padding-left: 10px;
    }
}

// .order-profile-item {
//     display: flex;
//     justify-content: flex-start
// }

// .description {
//     display: flex;

//     .order-desc-info {
//         // margin-left: -100px;

//     }
// }

// .main-detils-profile {
//     padding: 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     width: 24%;

//     .order-profile-imgs {
//         aspect-ratio: 1 / 0.6;
//         object-fit: cover;
//     }

//     .select-status {
//         display: flex;
//         flex-direction: column;
//         margin-bottom: 110px;

//     }

//     .buyer-img {
//         height: 50px;
//         width: 50px;

//     }

//     /* You can adjust the width as needed */
// }
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    /* Set a max-width as needed */
    display: inline-block;
}

.grey {
    padding: 20px;
    // background-color: #404145;
    background: #f7f7f7;

}

.react-seller-gigs {
    border: 1px solid #dadbdd !important;

    .add-gig {
        margin: 15px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 736px;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 30px;




    // align-items: center
    .gigs-profile {
        border: 1px solid #dadbdd;

        .gig-preview {
            padding: 0;
            // max-width: 250px !important;
            // max-height: 400px !important;
            // margin-bottom: 20px;
            // box-sizing: border-box;
            border: 1px solid #dadbdd;

            // width: calc(30% - 1px) !important;
            .mini-user-preview {
                padding: 10px;

                .left-user {
                    align-items: center;
                }

                .right-content {
                    display: flex;
                }
            }

            .image-container {
                .prev-img {
                    border-radius: 0;
                    // height: 110px;
                    // width: 203px;
                    // object-fit: cover;
                    // border-top-left-radius: 0;
                    // border-top-right-radius: 0;
                    // border-bottom-right-radius: 0;
                    // border-bottom-left-radius: 0;

                }

                .dot {
                    width: 5px;
                    height: 5px;
                }
            }

            // background-color: blue;
        }


        .gig-rate {
            justify-content: space-evenly;
            padding: 0 10px;
        }

        .price-edit {

            .gig-price {
                margin: 0;
                display: flex;
                align-items: center;
                padding-left: 10px;
                font-weight: 400;
            }

            .edit {
                padding-right: 10px;
            }
        }
    }
}
//////////////////////////////////////////////

@media (max-width: 768px) {
    .user-container {
        display: flex;
        flex-direction: column-reverse;
        max-width: 400px;
        margin: 0 auto;
        align-items: center;
        overflow-x: visible !important;
        
     

        .main-content {
            // padding-left: 40px;
            padding-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 380px;
            // margin-left: 50px;


            .react-seller-gigs {
                display: none;

                


            }
            .grey {
                height: 10px;
                margin: 0;
                padding: 0;
            }

            .orders {
                min-width: 380px;
                padding-top: 10px;

                .order-profile-container {
                    // width: 100%;
                    // margin-right: -5px;

                    .order-profile-item {
                        height: 200px;

                        .order-wrapper {
                            height: 80%;

                            .img-main {
                                display: none;
                            }

                            .order-details {
                                padding-left: 10px;

                                .truncate-text {
                                    max-width: 200px;
                                }
                            }

                            .txt-review {
                                margin: 0;
                                font-size: 14px;

                                &.stat {
                                    display: flex;
                                    align-items: center
                                }

                                .desc {
                                    display: none
                                }

                            }

                        }

                        .place-start {
                            // width: 190px;

                            .custom-select {
                                // max-width: 90px;

                                .status {
                                    font-size: 20px;
                                }
                            }
                        }

                    }
                }
            }

            .grey {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .gigs-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 380px;

        .gig-list {
            display: flex;
            flex-direction: column;
        }
    }
}

