/* UserDetails.scss */
// .info {
//     margin-top: 150px;
//     margin-right: 150px;
// }

// .gigs{
//     margin-top: 150px;
// }

.user-details {
    // display: flex;
    justify-content: space-between;
    padding: 20px 0 40px;

    background: #f7f7f7;

    span {
        padding: 5px;
    }

    // min-height: 2000px;
    // overflow-x: hidden;
    // background-color: #f9f9f9;
    .user-container {
        display: flex;
        justify-content: space-between;
        // min-height: 2000px;
        overflow-x: hidden;
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0;

    }

    .info {
        min-width: 400px;
        margin-bottom: 30px;
        position: relative;
        background-color: #fff;
        border: 1px solid #dadbdd;
        padding: 30px;
        font-size: 14px;
        line-height: 130%;
        height: 500px;

        .user-img-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .user-profile-img {
                width: 150px;
                height: 150px;
                font-size: 3em;
                margin-bottom: 15px;
                border-radius: 50%;


            }

            .upload {
                display: flex;
                justify-content: center;
            }
        }

        .user-name-info {
            display: flex;
            flex-direction: column;

            .user-name {
                display: inline-flex;
                line-height: 130%;
                color: #62646a;
                cursor: pointer;
                justify-content: center;



                .name {
                    display: inline-flex;
                    align-items: center;
                    z-index: 8 !important;
                    padding: 0 !important;
                    box-sizing: border-box;
                    font-weight: 700;
                    color: #222325;
                    cursor: default;
                    background: none;
                    border: 0;
                    font-size: 20px;
                    line-height: 28px;
                }

                .EMfXbxY {
                    display: flex;
                    align-items: center;

                    .new {
                        border-color: rgb(255, 98, 173);
                        background-color: rgb(255, 98, 173);
                        color: rgb(255, 255, 255);
                        align-items: center;
                        cursor: default;
                        margin-left: 8px;
                        text-transform: uppercase;
                        border-radius: 999px;
                        background: #fff;
                        box-sizing: border-box;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 3px 7px 2px;
                        border-width: 1px;
                        border-style: solid;
                        text-decoration: none;
                        text-align: center;
                        color: #fff;
                        font-size: 10px;
                        font-weight: 700;
                        line-height: 100%;

                    }

                    .XQskgrQ {
                        display: inline-flex;
                        width: 12px;
                        height: 12px;
                        fill: rgb(181, 182, 186);
                        cursor: pointer;
                        margin-left: 8px;

                        .svg {
                            float: left;
                            height: 100%;
                            width: 100%;
                        }

                    }
                }


            }

            .user-info-label {
                display: flex;
                justify-content: center;


            }

            .oneliner-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 140%;
                text-align: center;
                margin: 0;
                padding: 0;

                .XQskgrQ {
                    margin: 0 4px;
                    width: 12px;
                    height: 12px;
                    fill: rgb(181, 182, 186);
                    cursor: pointer;
                    margin-left: 4px;
                }
            }

            .buttons-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                line-height: 130%;
                color: #62646a;
                font-family: macan-regular;
                border: solid 1px #62646a;
                border-radius: 4px;

                .FW1syM7 {
                    flex: 1 1;
                    padding: 10px 16px;
                    font-size: 14px;
                    line-height: 18px;
                    display: inline-block;
                    box-sizing: border-box;
                    position: relative;
                    border: 1px solid transparent;

                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    text-decoration: none;
                    text-align: center;
                    cursor: pointer;
                    transition: 70ms cubic-bezier(.75, 0, .25, 1);
                }


            }



        }

        .user-stats {
            border-top: 1px solid #dadbdd;
            margin-top: 24px;
            padding-top: 20px;
            list-style: none;
            list-style-image: none;
            padding-left: 0;

            .location {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .from-user {
                    padding: 0;
                }

                .XQskgrQ {
                    padding: 0;
                    width: 13px;
                    height: 13px;
                    fill: rgb(98, 100, 106);
                    margin-right: 12px;

                    .svg {
                        float: left;
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .member-since {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .since {
                    padding: 0;
                }

                .XQskgrQ {
                    padding: 0;
                    width: 13px;
                    height: 13px;
                    fill: rgb(98, 100, 106);
                    margin-right: 12px;

                    .svg {
                        float: left;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }





    }

    .user-details-title {
        font-size: 24px;
        margin-bottom: 20px;

        .is-online {
            position: absolute;
            right: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
    }

    .user-info {
        font-size: 16px;
        margin-bottom: 10px;

        .user-info-item {
            margin-bottom: 10px;

            .user-info-label {
                font-weight: bold;
            }
        }

        .user-details-profile {
            text-align: center;

            .user-details-subtitle {
                font-size: 20px;
                margin-top: 20px;
            }

            .user-img {
                width: 10px;
                height: 10px;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                margin-top: 200px;
            }

            .user-details-json {
                font-size: 14px;
                margin-top: 20px;
                white-space: pre-wrap;
            }
        }
    }

    .user-img {
        width: 96px;
        border-radius: 50%;
    }

    .user-details-button {
        background-color: $clr8;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin-top: 5px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 736px;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 30px;

    .add-gig {
        margin: 15px;
    }

    // align-items: center
    .gig-preview {
        padding: 0;
        // max-width: 250px !important;
        // max-height: 400px !important;
        // margin-bottom: 20px;
        // box-sizing: border-box;
        border: #62646a 1px solid;
        // width: calc(30% - 1px) !important;
        .mini-user-preview{
            padding: 10px;
            .left-user{
                align-items: center;
            }
            .right-content{
                display: flex;
            }
        }

        .image-container {
            .prev-img {
                // height: 110px;
                // width: 203px;
                // object-fit: cover;
                // border-top-left-radius: 0;
                // border-top-right-radius: 0;
                // border-bottom-right-radius: 0;
                // border-bottom-left-radius: 0;

            }

            .dot {
                width: 5px;
                height: 5px;
            }
        }

        // background-color: blue;
    }
    .gig-rate{
        justify-content: space-evenly;
        padding: 0 10px;
    }
    .price-edit{
        .gig-price{
            display: flex;
            align-items: center;
            padding-left: 15px;
        }
        .edit{
            padding-right: 15px;
        }
    }
}

.orders {
    margin-inline-start: 65px;

    .order-profile-container {
        background-color: #fff;
        display: flex;
        // justify-content: center;
        flex-wrap: wrap;
        text-align: left;
        padding: 0;
        margin: 15px;
        max-width: 1240px;
        border: 1px solid #ddd;



        span {
            padding: 0;
        }

        .order-profile-item {
            display: flex;
            align-items: center;
            border: none;
            border-bottom: 1px solid rgb(98, 100, 106);


            .order-profile-img-container {
                display: flex;
                align-items: center;
                flex-direction: column;

                .order-profile-imgs {
                    width: 175px;
                    height: 110px;
                    object-fit: fill;
                    border-radius: 4px;
                    margin-right: 20px;
                }

                .seller-imgs {
                    width: 100px;
                    height: 100px;
                    margin-top: 15px;
                    border-radius: 50%
                }
            }

            .order-profile-details {
                display: flex;
                font-family: macan-regular !important;

                .order-profile-info {
                    display: flex;
                    flex-direction: column;

                    .txt-review {
                        display: flex;
                        flex-direction: column;
                    }
                }

            }

            .status {
                display: flex;
                flex-direction: column;
                margin-left: 100px;

                .txt-review {
                    flex-direction: column;
                }
            }

            .select-status {
                display: flex
            }

            .custom-select {
                display: flex;
                // margin-left: 100px;
            }
        }
    }

    .order-grid {
        // display: grid;
        // grid-auto-flow: row;
        // grid-template-columns: repeat(3,1fr);
        // flex-wrap: wrap;
        // justify-content: space-between;
        // /* Creates 3 items in a row */
        // list-style: none;
        // /* Remove default list styles */
    }

    .order-txt {

        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;
        background-color: white !important;
        height: 200px;



        &.status-pending {

            color: orange;
        }

        &.status-approve {
            color: green;
            /* Text color for approved status */
        }

        &.status-decline {
            color: red;
            /* Text color for declined status */
        }

        img {
            border: 1px black solid;
            margin-bottom: 10px;
        }
    }

    .custom-select {
        // margin-left: 100px;
        background-color: #f2f2f2;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 200px;
        margin: 3px;

        .status {
            font-size: 16px;
            font-family: macan-semibold;
            padding: 25px;

        }

        /* Add more custom styles as needed */
    }

    .order-profile-item {
        display: flex;
        justify-content: space-between
     

    }
    .description{
        display: flex;
        .order-desc-info{
            margin-left: -100px;
        }
    }

    .main-detils-profile {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24%;
        .select-status{
            display: flex;
            flex-direction: column;
            margin-bottom: 110px;
            
        }
        .buyer-img{
            height: 50px;
            width: 50px;

        }
        /* You can adjust the width as needed */
    }

    .txt-review {
        padding: 5px;
        margin: 5px;
    }
}