// Colors
$clr0:clear;
$clr1: #fff;
$clr2: #404145;
$clr3: #574f7d;
$clr4: #f2a1e0;
$clr5: #faebd7;
$clr6: #d4cece;
$clr7: #222325;
$clr8: #1dbf73;
$clr9:#62646a;

//home bgc
$christina: #ad3906;
$jenny: #0a4226;
$colin: #a7445a;
$scarlet:#5f1628;
$jordan: #0f4926;
$firstAd:#f1fdf7;
$belowMainImg:#efeff0;


// Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;